.DS_Store
.idea/
log/
web/
webapp/
null/
*.dll
*.lib
**/target/
**/.settings/
**/.classpath
**/.project
**/*.iml
*.example
*.bak
.svn/
*.bak
*.rar
*.zip
*.jar
*.log
*.doc
*.docx
*.vsd
*.xlsx
*.xls
*.pptx
*.ppt



