body {
    max-width: 720px;
    padding: 10px;
    margin: auto;
    overflow: auto;
}
.folder {
    border-top: 1px solid #e6ebf5;
    border-bottom: 1px solid #e6ebf5;
}
.folder-head {
    overflow: hidden;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #cebead;
}

.folder-item, .search-item, .search-clear-icon {
    cursor: pointer;
}
.folder-list__item {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    color: #303133;
    border-bottom: 1px solid #e6ebf5;
    font-weight: 500;
    -webkit-transition: border-bottom-color .3s;
    transition: border-bottom-color .3s;
    outline: none;
}
audio, video {
    width: 100%;
    max-height: 200px;
}
.folder-head__item {
    margin: 0 5px 0 5px;
}
.folder-head__left {
    line-height: 46px;
    height: 100%;
    float: left;
}
.folder-head__right {
    line-height: 46px;
    height: 100%;
    right: 0px;
    position: absolute;
    background: white;
}
.search-input__wrapper {
    border-bottom: 1px solid #d9d9d9;
}
.search-input {
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    width:200px;
    border: none;
    outline: none;
    vertical-align: middle;
}

.folder-item__arrow {
    margin: 0 8px 0 auto;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    font-weight: 300;
}
.folder__icon {
    color: #d0d247;;
    font-size: 16px;
    margin-right: 5px;
}
.folder-list, .html-list, .audio-list, .video-list, .photo-list {
    margin-top: 10px;
}
.grid-box {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grid-box3 {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 40% 20% 40%;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.video-list.grid-box {
    grid-template-columns: 33% 34% 33%;
}
.photo-item {
    position: relative;
}
.photo-info {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 8px;
    color: #303133;
    text-align: left;
}
.grid-cell {
    color: #666666;
    font-size: 12px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #f1e8e8;
}
.photo-item.grid-cell {
    height:80px;
}
.gird-cell-img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-aspect-ratio: 13/9) {
    .grid-box {
        grid-template-columns: repeat(3, 1fr);
    }
    .video-list.grid-box {
        grid-template-columns: 50% 50%;
    }
    audio, video {
        max-height: 120px;
    }
}
@media screen and (min-aspect-ratio: 13/9) {
    .grid-box {
        grid-template-columns: repeat(5, 1fr);
    }
}
