main {
    display: block;
}
blockquote {
    display: block;
    margin-block-start: 0.25em!important;
    margin-block-end: 0.25em!important;
    margin-inline-start: 0.875em!important;
    margin-inline-end: 0.875em!important;
}
h1 {
    font-size: 2em;  /* 小一 */
    margin: 0.67em 0;
}
h2 {
    font-size: 1.8em; /* 二号 */
    margin: 0.6em 0;
}
h3 {
    font-size: 1.6em; /* 小二 */
    margin: 0.53em 0;
}
h4 {
    font-size: 1.4em; /* 三号 */
    margin: 0.46em 0;
}
h5 {
    font-size: 1.2em; /* 四号 */
    margin: 0.4em 0;
}
h6 {
    font-size: 1em; /* 小四 */
    margin: 0.33em 0;
}
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 0.875em; /* 2 */
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
b,strong {
    font-weight: bolder;
}
code,kbd,samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 0.875em; /* 2 */
}
small {
    font-size: 80%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button,input,optgroup,select,textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}
button,input { /* 1 */
    overflow: visible;
}

button,select { /* 1 */
    text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details {
    display: block;
}
summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

html {
    height: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

.center-block {
    display: block;
    text-align: center;
    vertical-align: middle;
    width:100%;
}

.center-block video,audio {
    max-width:100%;
    max-height:260px;
    margin: 0 auto;
}
.float-editor__buttons {
    position: fixed;
    top: 10px;
    right: 0px;
    width: 32px;
    border: none;
    outline: none;
    font-size: 8px;
    text-align: center;
    background: transparent;
    color: #ffffff;
    z-index:9999;
}

body {
    max-width: 738px;
    width: 100%;
    min-height:100%;
    padding: 10px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
    display: table;
    table-layout: fixed;
    font-size: 1em; /*五号*/
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}
.float-editor__buttons img {
    width: 24px;
    height: 24px;
    background: #808080;
}
img {
    border-style: none;
    max-width: 100%;
    max-height:100%;
    padding: 2px;
    box-sizing: border-box;
}
.col-1-1 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-1-2 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-1-3 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-1-4 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-1-5 {
    flex: 0 0 20%;
    max-width: 20%;
}
.col-1-6 {
    flex: 0 0 16.6666666%;
    max-width: 16.6666666%;
}
@media screen and (max-width: 700px) {
    .col-1-1, .col-1-2,.col-1-3,.col-1-4,.col-1-5,.col-1-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
