body {
    padding:0!important;
    margin: 0 auto!important;
}
body.exif {
    max-width: 1080px!important;
}
body.map {
    max-width: 100%!important;
}
#app {
    padding:10px!important;
}
.exif-box {
    height: calc(100% - 50px);
    overflow: hidden;
}
.scroll-items-wrapper, .scroll-from-wrapper {
    overflow: auto;
}
/*竖屏, 如果宽高比最大1:1的话，显示这个内容*/
@media screen and (max-aspect-ratio: 1/1) {
    .exif-box {
        width: 100%;
    }
    .scroll-items-wrapper, .scroll-from-wrapper {
        max-height: calc(50% - 10px);
    }
    .scroll-from-wrapper {
        padding-bottom: 10px;
    }
}
#exifForm {
    margin: 10px 0
}
/*横屏, 如果宽高最小为1:1的话，显示这个内容*/
@media screen and (min-aspect-ratio: 1/1) {
    .exif-box {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        justify-content: center;
        width: 100%;
    }
    .scroll-items-wrapper, .scroll-from-wrapper {
        max-height: calc(100% - 20px);
    }
}
.file-list {
    user-select: none;
}
.file-item.selected, .folder-item.selected {
    background-color: #99bcf1;;
}
.file-item.selected.current-selection {
    background-color: #689ef1;
}
.folder-item .folder-item__arrow {
    width: 64px;
    text-align: right;
}

.file-item[data-longitude][data-latitude] {
    color: #0ce061;
}
.thumb-image-wrapper {
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
    position: relative;
}
.selection-length {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    color: #0c88e8;
}
.thumb-image {
    max-height: 200px;
    max-width: 100%;
}
.scroll-items {
    max-height:100%;
    overflow: auto;
}
form label {
    width:64px;
    text-align: right;
    display: inline-block;
}
form input[type="checkbox"] {
    width:16px;
    right: 0px;
    position: absolute;
    margin-top:8px;
}
.tag-value {
    width: calc(100% - 100px);
    margin-left: 5px;
    border-width: 1px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: inset;
    border-left-style: hidden;
}
input:invalid
{
    color: red;
}
input[type="datetime-local"]::-webkit-clear-button {
    visibility: visible;
}
.map-wrapper {
    width:100%;
}
i {
    cursor: pointer;
}
.disabled {
    color: grey;
    cursor: initial;
}
#mapContainer {
    width:100%;
    height: 100%;
}
.exif__button {
    margin: 10px 5px 0 10px;
    cursor: pointer;
    min-width: 60px;
}
div:focus {
    outline: none;
}
.img-info-window-container {
    user-select: none;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.img-info-window-container img {
    max-width: 100%;
    max-height: 100%;
}