.tran-img__modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #505050;
}
.tran-img__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    border: none;
    outline: none;
}

.tran-img__content {
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto;
    background: #505050;
    border: none;
    outline: none;
    width: 100%;
    height:100%;
}
.tran-img__title {
    top:5px;
    left:0px;
    width: 100%;
    text-align: center;
    color: #d0d0d0;
    position: fixed;
    font-size: 10px;
}
.tran-img__body {
    color: #606266;
    font-size: 14px;
    word-break: break-all;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border: none;
    outline: none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

.tran-img__fb-wrapper {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 48px;
    background: transparent;
    color:transparent;
    color: transparent;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.tran-img__float-button {
    width: 36px;
    height: 36px;
    margin: 0 5px;
    font-size: 32px;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.tran-img__fb-wrapper.small {
    height: 32px;
}
.small .tran-img__float-button {
    width: 24px;
    height: 24px;
    font-size: 20px;
}
.show .play {
    color: #08e2f5;
}

.show .white {
    color: #fff;
}
.show .music {
    color: #06f;
}
.show .favorite {
    color: #f88;
}
.show .remove{
    color:#f00;
}
.tran-img__debug {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    text-align: left;
    color: #000;
    z-index:9999;
}


